@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #323232;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #323232;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-outfit);
}

h1 {
  font-family: var(--font-outfit);
  font-size: 36px;
  font-weight: 400;
  line-height: 45.36px;
  letter-spacing: -0.03em;
}

h2 {
  font-family: var(--font-outfit);
  font-size: 25px;
  font-weight: 400;
  line-height: 31.5px;
  letter-spacing: -0.03em;
}

h3 {
  font-family: var(--font-nunito);
  font-size: 16px;
  font-weight: 700;
  line-height: 21.82px;
  letter-spacing: -0.03em;
}

h4 {
  font-family: var(--font-nunito);
  font-size: 14px;
  font-weight: 800;
  line-height: 19.1px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

h5 {
  font-family: var(--font-nunito);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.1px;
  letter-spacing: 0.03em;
}

h6 {
  font-family: var(--font-nunito);
  font-size: 13px;
  font-weight: 700;
  line-height: 17.73px;
}

p {
  font-family: var(--font-nunito);
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
}
